.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.imageContainer {
	width: 40%;
	height: auto;
}

img {
	width: 100%;
	height: auto;
}

.heading {
	font-size: 2rem;
	font-size: 1.5rem;
}

.infoNote {
	width: 50%;
	text-align: center;
}
.securityNote {
	position: absolute;
	bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
