.mainContainer {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.heading {
	font-weight: bold;
	text-align: center;
	font-size: 2rem;
	position: sticky;
	padding: 2rem 0;
	top: 0rem;
	cursor: pointer;
	background-color: white;
	box-shadow: 0px 4px 4px -2px rgba(166, 166, 166, 0.084);
}

.notesContainer {
	overflow-y: auto;

	/* margin: 1rem 0; */
}

.allNotes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.defaultNote {
	display: flex;
	height: 50vh;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}
